# Source: http://www.edrdg.org/kanjidic/kanjidic2.xml.gz
kanjidic2.xml

# Source: http://ftp.monash.edu/pub/nihongo/JMdict_e.gz
JMdict_e

# Results
cham_jp_deck.csv
cham_jp_deck.json

# Don't mind following ignores
other_tools/kanji.jitenon.jp

node_modules
